node_modules/
*/node_modules/
*/*/node_modules/
dist/
*/dist/
*/*/dist/
dist-*/
*/dist-*/
*/*/dist-*/
.env
.env.local
*.log
.DS_Store
*/.DS_Store
*/*/.DS_Store
.a2api/
coverage/
apps/chat-demo/data/*.jsonl
apps/chat-demo/data/skills/
.idea
/.idea
*/.idea
*/*/.idea
/apps/admin/dist-client
/apps/admin/dist-server
/apps/chat-demo/dist-client
/apps/chat-demo/dist-server
