node_modules/
*/node_modules/
*/*/node_modules/
dist/
*/dist/
*/*/dist/
dist-*/
*/dist-*/
*/*/dist-*/
.env
.env.local
*.log
.DS_Store
*/.DS_Store
*/*/.DS_Store
.a2api/
coverage/
opendoubao/data
opendoubao-admin/data
.idea
/.idea
*/.idea
*/*/.idea
opendoubao/dist-client
opendoubao/dist-server
opendoubao-admin/dist-client
opendoubao-admin/dist-server
